body {
    display: flex;
    justify-content: space-around;
    
}
#rodOneDiv, #rodTwoDiv, #rodThreeDiv {
    height: 400px;
    width: 30px;
    background-color: burlywood;
    border-radius: 10px;
    display: flex;  
    align-items: center;
    flex-direction: column-reverse; 
}
#ring1 {
    background-color: yellow;
    height: 50px;
    width: 400px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px
}
#ring2 {
    background-color: lightblue;
    height: 50px;
    width: 300px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px    
}
#ring3 {
    background-color: salmon;
    height: 50px;
    width: 200px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px
}
#ring4 {
    background-color: lightgreen;
    height: 50px;
    width: 100px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 10px
}